@font-face {
  font-family: 'Roboto Slab';
  src: url('../fonts/RobotoSlab/RobotoSlab-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Slab';
  src: url('../fonts/RobotoSlab/RobotoSlab-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'PT Sans';
  src: url('../fonts/PTSans/PTSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PT Sans';
  src: url('../fonts/PTSans/PTSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure the body takes at least the full height of the viewport */
  font-family: 'PT Sans', serif;
  background-color: #e0e0e0; /* Different background color */
  color: #333;
  margin: 0;
  padding: 0;
}

.site-container {
  flex: 1; /* Ensure the container takes up the remaining space */
  background-color: #fff; /* Elevated block background color */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Elevated look */
  max-width: 800px; /* Adjust this value as needed */
  margin: 2rem auto; /* Center the container horizontally */
  padding: 1rem;
}

.site-header {
  background-color: #fff;
  padding: 1rem;
  border-bottom: 1px solid #ddd;
  max-width: 100%; /* Adjust this value as needed */
  margin: 0 auto; /* Center the header horizontally */
}

nav a {
  color: #333;
  margin-right: 1rem;
  text-decoration: none; /* Ensure no underline */
}

nav a:hover {
  color: #c00;
}

main {
  padding: 1rem;
  max-width: 100%; /* Adjust this value as needed */
  margin: 0 auto; /* Center the main content horizontally */
}

footer {
  background-color: transparent; /* Remove background color */
  padding: 1rem 0; /* Padding top and bottom */
  border-top: 1px solid #ddd; /* Light border on top */
  text-align: center;
  width: 100%; /* Ensure it spans the entire width */
  box-sizing: border-box; /* Include padding in the width */
}

.profile {
  text-align: center;
  margin-bottom: 2rem;
}

.profile-pic {
  border-radius: 50%;
  max-width: 100px;
}

.posts article {
  margin-bottom: 2rem;
}

.posts h2 {
  margin-bottom: 0.5rem;
}

.posts p {
  color: #666;
}

.post-item {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.post-date {
  margin-right: 1rem;
  font-size: 0.9rem;
  color: #666;
}

.post-title {
  font-size: 1.1rem;
  color: #333;
  text-decoration: none;
}

.post-title:hover {
  color: #c00;
}
.pagination {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.pagination-link {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.pagination-link:hover {
  color: #c00;
}

.pagination-link.prev {
  order: 1;
}

.pagination-link.next {
  order: 2;
  margin-left: auto; /* Ensure "Next" button is always on the right */
}
