<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

{{- with .Site.Params.favicon -}}
<link rel="icon" href="{{ . }}" type="image/x-icon">
{{- end -}}
{{- with .Site.Params.favicon32 -}}
<link rel="icon" href="{{ . }}" sizes="32x32" type="image/png">
{{- end -}}
{{- with .Site.Params.favicon16 -}}
<link rel="icon" href="{{ . }}" sizes="16x16" type="image/png">
{{- end -}}
{{- with .Site.Params.appleTouchIcon -}}
<link rel="apple-touch-icon" href="{{ . }}">
{{- end -}}

{{/* ========================================================================== */}}
{{/* == Meta Tags == */}}
{{/* ========================================================================== */}}

{{/* Dynamic variables for meta tags */}}
{{ $title := .Title }}
{{ $description := .Description | default (.Summary | plainify | truncate 160 "...") | default .Site.Params.description
}}
{{ $url := .Permalink }}
{{ $image := "" }}

{{/* Determining the image: page front matter -> site default */}}
{{ with .Params.image }}
{{ $image = . | absURL }}
{{ else }}
{{ $image = .Site.Params.og_image | absURL }}
{{ end }}

{{/* Use page title for content pages, site title for homepage */}}
{{ if not .IsHome }}
<title>{{ $title }} | {{ .Site.Title }}</title>
{{ else }}
<title>{{ .Site.Title }}</title>
{{ end }}
<meta name="description" content="{{ $description }}">

{{/* ========================================================================== */}}
{{/* == Open Graph Meta Tags (Facebook, etc.) == */}}
{{/* ========================================================================== */}}

<meta property="og:url" content="{{ $url }}">
<meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}">
<meta property="og:title" content="{{ $title }}">
<meta property="og:description" content="{{ $description }}">
{{ with $image }}
<meta property="og:image" content="{{ . }}">
{{ end }}

{{ if .IsPage }}
{{ with .PublishDate }}<meta property="article:published_time" content="{{ .Format " 2006-01-02T15:04:05Z07:00" }}" />{{ end }}
{{ with .Lastmod}}<meta property="article:modified_time" content="{{ .Format " 2006-01-02T15:04:05Z07:00" }}" />{{ end }}
{{ end }}
