{{ define "main" }}
  <div class="profile">
    <img src="{{ .Site.Params.profilePic }}" alt="Profile Picture" class="profile-pic">
    <p>{{ .Site.Params.description }}</p>
  </div>
  <div class="posts">
    {{ $paginator := .Paginate (where .Site.RegularPages "Type" "posts") 10 }}
    {{ range $paginator.Pages }}
      <article>
        <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
        <time datetime="{{ .Date }}">{{ .Date.Format "January 2, 2006" }}</time>
        <p>{{ .Summary }}</p>
      </article>
    {{ end }}
    {{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
      <div class="pagination">
        {{ if .Paginator.HasPrev }}
          <a href="{{ .Paginator.Prev.URL }}" class="pagination-link">Prev</a>
        {{ end }}
        {{ if .Paginator.HasNext }}
          <a href="{{ .Paginator.Next.URL }}" class="pagination-link">Next</a>
        {{ end }}
      </div>
    {{ end }}
  </div>
{{ end }}
