<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ .Site.Title }}</title>
  <link rel="icon" href="{{ .Site.Params.favicon | relURL }}">
  <link rel="stylesheet" href="{{ "css/style.css" | relURL }}">
  <link rel="alternate" type="application/rss+xml" href="{{.Site.BaseURL }}index.xml" title="{{ .Site.Title }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <script src="{{ "js/theme-switcher.js" | relURL }}" defer></script>

  {{- /* Umami script for analytics */ -}}
<script async defer data-website-id="34ce8dc6-488b-49ee-9a2f-8e70a7009f17" src="https://batman.siddharthagolu.com/batman.js"></script>

</head>
<body>
  <div class="site-container">
  <header class="site-header">
    <nav>
      <a href="{{ "/" | relURL }}">
        <img class="site-favicon" src="{{ .Site.Params.favicon | relURL }}" alt="Profile">
		 <span class="site-title">Siddhartha Golu </span>
      </a>
      <div style="float:right;">
        <a href="{{ "about" | relURL }}" class="active">About</a>
        <a href="{{ "posts" | relURL }}">Posts</a>
        <a href="{{ "categories" | relURL }}">Categories</a>
        <a href="{{ "tags" | relURL }}">Tags</a>
      </div>
    </nav>
  </header>
  <main>
    {{ block "main" . }}{{ end }}
  </main>
  {{ partial "footer.html" . }}
  </div>
</body>
</html>
