<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ .Site.Title }}</title>
  <link rel="icon" href="{{ .Site.Params.favicon | relURL }}">
  <link rel="stylesheet" href="{{ "css/style.css" | relURL }}">
</head>
<body>
  <div class="site-container">
  <header class="site-header">
    <nav>
      <a href="{{ "/" | relURL }}">
        <img src="{{ .Site.Params.favicon | relURL }}" alt="Favicon" style="height:24px; vertical-align:middle;">
        <span style="font-size: 1.5em; font-weight: bold;">Siddhartha Golu</span>
      </a>
      <div style="float:right;">
        <a href="{{ "about" | relURL }}" class="active">About</a>
        <a href="{{ "posts" | relURL }}">Posts</a>
        <a href="{{ "categories" | relURL }}">Categories</a>
        <a href="{{ "tags" | relURL }}">Tags</a>
      </div>
    </nav>
  </header>
  <main>
    {{ block "main" . }}{{ end }}
  </main>
  <footer>
    <p>&copy; {{ now.Year }} {{ .Site.Title }}</p>
  </footer>
  </div>
</body>
</html>
